/*main elements*/
body {background: #fafafa;}
h1,h2,h3,h4,h5 {font-family:'Open Sans Condensed',sans-serif; font-weight: normal; color: #333;}
p {color: #333}
header {background: fixed no-repeat left top; background-size:cover; padding: 20px 0 40px;}
footer {font-size: .8em; padding: 30px 0px 30px; color: #b2b5b9; background-image: url('../img/patterns/escheresque_ste/escheresque_ste.png');}
footer h3 {color: #888d92}

/*sets width for all row elements (built into foundation)*/
.row {width: 1100px;}

/*nav bar*/
.header_nav {background: #fafafa; box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6); z-index: 999;}

.nav-bar {margin-top: 0; background: none;}
.nav-bar > li {margin: 25px 0 25px; border: 0; padding: 0; font-family: 'Open Sans Condensed',sans-serif; letter-spacing: 1px; box-shadow: none}
.nav-bar > li > a:first-child {font-size: 16px; text-transform: uppercase; padding: 0 25px}
.nav-bar > li:last-child {border: 0; box-shadow: none}
.nav-bar > li.active:hover {background: #000; cursor: default;}
.nav-bar > li:hover { background: #eeeeee; color: #000;         
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; 
}
.nav-bar > li > a {color: #4d4d4d}
.nav-bar > li > a:hover {color: #000;}
.active a {background:#F06B48; color: #FFF}

/*nav bar flags*/
#menu-header img {width: 40px; height: 40px; opacity: 0.4;}
#menu-header img:hover {opacity: 1;}
#flagset {float: right;}

/* sections */
.section_light {background: #FFF; border-top: 1px dotted #999; padding: 20px 0; clear:both}
.section_light h1 {text-align: center; border-bottom: 1px dotted #999; padding-bottom: 20px; margin: 0 0 20px 0}
.section_main {padding: 50px 0 100px; background-image: url('../img/patterns/agsquare/agsquare_@2X.png');}
.section_main h1 {font-size:6em; padding: 0 0 50px}
.section_events {padding: 50px 0; padding-top:120px; padding-bottom: 0px; background-color: #262626;}
.section_events h1 {font-size:6em; padding: 0 0 50px}

/*submit button in footer*/
#submit-button {width:165px; margin-right:5px; margin-left:5px}

/*about page*/
.about-cards img {height: 48px; width: 48px;}
.about-cards h3 {font-size: 36px; padding: 0 0 0; margin: 0 0 0}
.about-cards .panel {height: 200px;}
.about-cards .panel .row {margin-bottom: 20px;}

/*board page*/
.section_execs {padding: 50px 0; background-image: url('../img/patterns/agsquare/agsquare_@2X.png');}
.section_execs h1 {font-size:6em; padding-bottom: 60px; text-align: center;}
.singlesclub .left {border-right: 0px;}
.singlesclub .center {border-left: 0px; border-right: 0px;}
.singlesclub .right {border-left: 0px;}
.section_execs .panel {height: 490px;}
#exec_pres .panel {height: 533px;}

/*events page*/
.section_events {background-image: url('../img/patterns/escheresque_ste/escheresque_ste.png');}
.section_events .row {padding-bottom:60px}
.section_events .panel {background-color: #F06B48; border:0px}
.section_events h1, .section_events h3 {color:#ffffff}
.shadow {
 -moz-box-shadow:    inset 0 0 10px #000000;
 -webkit-box-shadow: inset 0 0 10px #000000;
 box-shadow:         inset 0 0 20px #000000;
}
.shadow2{box-shadow: 0 0 30px #262626;}
.section_annual_events {background-image: url('../img/patterns/agsquare/agsquare_@2X.png'); padding: 20px 0; clear:both}
.section_annual_events h1 {text-align: center; padding-bottom: 20px; margin: 0 0 20px 0}
#annual-events h1 {font-size: 6em; text-align:center;}
#annual-events h3 {font-size: 50px;}
#annual-events p {font-size: 17px;}
#annual-events .panel {height:408px;}

/*fashion show page*/
.fs h1 {text-align:center}
.fs h2 {text-align:center; padding: 0 150px 50px;}
.fs h3 {text-align:center; padding: 0 0 30px};
/*not working properly, deal with it after we get everyone's pic*/
/*.fs img {height: 300px; width: 300px;} */

/*contact page*/
.swag {padding-left: 50px;}
.contact-info .row {padding-top: 25px;}
.contact-info img {height: 100px; width: 100px;}

/*other*/
.button {background-color: #F06B48; border: 0px; font-family: 'Open Sans Condensed',sans-serif; font-weight: 300; font-size: 25px; height: 50px;}
.button:hover {background-color: #C0563A;}